---
import Layout from "@/layouts/Layout.astro";
import { getAllBoardsData, getAllSysData } from "@/lib/data";
import { getLangFromUrl } from "@/i18n/utils";
import ReportList from "@/components/ReportList";

const boards = await getAllBoardsData();
const systems = await getAllSysData();

const lang = getLangFromUrl(Astro.url);
---

<Layout title="Test Reports List">
  <div class="container mx-auto py-6">
    <ReportList client:load boards={boards} systems={systems} lang={lang} />
  </div>
</Layout>
