---
import type { BoardMetaData } from "../lib/data";
import { getLangFromUrl } from "@/i18n/utils";
import BoardsGrid from "./BoardsGrid";

export interface Props {
  boards: BoardMetaData[];
}

const lang = getLangFromUrl(Astro.url);
const { boards } = Astro.props;
---

<div>
  <BoardsGrid client:load boards={boards} lang={lang} />
</div>
