---
import { siteConfig } from "@/config/site";
---

<footer class="border-t py-4 mt-8">
  <div class="container mx-auto px-4 text-center text-sm text-muted-foreground">
    Copyright &copy;
    <a
      href={siteConfig.links.ruyisdk}
      target="_blank"
      rel="noopener noreferrer"
    >
      2024-2025 RuyiSDK</a
    >
  </div>
</footer>
