---
import Layout from "@/layouts/Layout.astro";
import { getAllBoardsData } from "@/lib/data";
import BoardList from "@/components/BoardList.astro";
import { siteConfig } from "@/config/site";
// Get all board data
const boardsData = await getAllBoardsData();
---

<Layout title={siteConfig.title_zh}>
  <h1 class="justify-center text-4xl flex my-8">
    {siteConfig.title_zh}
  </h1>
  <div class="max-w-5xl mx-auto">
    <BoardList boards={boardsData} />
  </div>
</Layout>
